---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Alessandro Checco</div>
      <div style='font-size: 1.2em;'>
        Assistant Professor
      </div>
      <div style='font-size: 1.2em'>
        <a href="https://www.di.uniroma1.it/">Computer Science Department</a>
      </div>
      <div style='font-size: 1.2em'>
        <a href="https://www.uniroma1.it/en/pagina-strutturale/home">University of Rome La Sapienza</a>
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        <a href="data/cv.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://twitter.com/alex_checco" target="_blank">
            <i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://scholar.google.com/citations?user=crhkrNcAAAAJ" target="_blank">
          <i class="ai ai-google-scholar"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/alex.checco" target="_blank">
            <i class="fa fa-fw fa-facebook"></i></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/alessandrochecco" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
          <a href="/atom.xml" target="_blank">
            <i class="fa fa-fw fa-rss"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/me-large.jpg">
        <img src="/images/me.jpg"
             style="border-radius: 20px; margin: 10px; max-width: none;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
